# General
dist
.env
.DS_Store

# Redwood
.redwood
dev.db*
api/src/lib/generateGraphiQLHeader.*
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts

# Yarn
node_modules
yarn-error.log
.pnp.*
.yarn
